<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup List</title>
</head>
<body>

    <h1>FEEDBACKS</h1>

    <% if (registrations.length > 0) { %>
        <ul>
            <% registrations.forEach(entry => { %>
                <li>
                    <strong><%= entry.name %></strong> states <%= entry.feedback %>
                    <a href="/delete/<%= entry.id %>">Delete</a>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No feedbacks found.</p>
    <% } %>

</body>
</html>